<section>
  <div class="site-width">
    <div class="copy-width">
      <h2>{{ page.title }}</h2>
    </div>
  </dive>
</section>

<section>
  <div class="site-width">
    <div class="copy-width">

      {% comment %}
        Regular page content goes here.
      {% endcomment %}
      {{ page.content }}

    </div>
  </dive>
</section>
